:root {
    --green: #71CE4B;
    --blue: #0f4156;
    --lightgrey: #e5e5e5;
    --grey: #c8c8c8;
    --darkgrey: #a1a1a1;
    --lightblue: #4ec2dd;
  }
  
.App-autocomplete {
    width: 100%;
    height: 100%;
    border: 0;
    text-align: left;
    font: Raleway;
    font-weight: 2em;
    order: 2;
}
.App-autocomplete input{
    width: 95%;
    height: 95%;
    border: 0;
    padding: 1px;
    font-weight: lighter;
    font-size: 0.8em;
    color: var(--grey);
    outline: none;
}
.App-autocomplete input:active{
    background-color: transparent;
}

.App-autocomplete ul{
    list-style: none;
    text-align: left;
    background-color: white;
    box-shadow: 0px 0px 8px #ccc;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0;
}
.App-autocomplete li{
    font-weight: lighter;
    font-size: 0.8em;
    color: var(--grey);
}
.App-autocomplete li:hover{
    background-color: var(--lightblue);
    color: white;
}