.App-modal{
    width: 50%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.26);
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 2rem;
    z-index: 999;
    transform: translate(-50%, -50%);
}
.App-modal h2{
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: bolder;
    color: #43c2dd;
    text-align: center;
    margin: 0;
}
.App-modal img{
    margin:2em;
}

