:root {
    --green: #71CE4B;
    --blue: #0f4156;
    --lightgrey: #e5e5e5;
    --grey: #c8c8c8;
    --darkgrey: #a1a1a1;
  }

.App-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.75);
    text-align: center;
    z-index: 999;
}
