/* #######################################*/
/* ###########    User Flow    ###########*/ 
/* #######################################*/
.App-flow{
  padding: 0;
  height: 70px;
  align-items: center;
  text-align: left;
}
.App-flow ul{
  list-style: none;
  margin:0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.App-flow li{
  display: inline-block;
  vertical-align: middle;
}
.App-flow a{
  display: inline-block;
  text-decoration: none;
  color: #c8c8c8;
  font-family: Raleway;
  font-weight: bolder;
  font-size: 0.9em;
  padding: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
  .App-flow{
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px){
  .App-flow{
    display: none;
  }
}