
/* #######################################*/
/* #########    Main Content    ##########*/ 
/* #######################################*/
.App-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Section 3.1 and 3.2 - Product Image - Buy - Description */
.Product{
  display:flex;
  height:30em;
  width:100%;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap:wrap;
}
.Product-image{
  flex:4;
  order:2;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
  height: 30em;
}
.Product-image img{
  height: 100%;
  width:auto;
  border: 0px;
}
.Product-thumb{
  flex:1;
  order:1;
  text-align: center;
}
.Product-thumb img{
  width: 70%;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
}
.Product-info{
  flex:5;
  order:3;
  flex-direction: column;
  display: flex;
}
.Product-title{
  flex:1;
  text-align: left;
  padding-left: 20px;
}
.Product-title h1{
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: lighter;
  color: var(--darkgrey);
}
.Product-buy{
  flex:3;
  border: 2px;
  background-color: #f8f8f8;
  text-align: left;
  padding-left: 20px;
}
.Product-buy h2{
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: bolder;
  color: #43c2dd;
  text-align: left;
  margin:0;
  margin-left: 1em;
  margin-top: -1em;
}
.Product-frete{
  flex:2;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  background-color:#43c2dd;
  text-align: right;
  padding:1em;
}
.Product-frete p{
  margin:0;
}
.Product-frete input{
  height: 90%;
  width: 90%;
  border: 0;
  font-family: Raleway;
  font-weight: lighter;
  font-size: 1.1em;
  color: var(--lightgrey);
  outline: none;
}
.cep1{
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  padding-right: 3em;
  margin-bottom: 0.5em;
  height: 2.7em;
  margin-right: 0.7em;
  background-color: white;
  display: inline-block;
  width: 30%;
}
.cep2{
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  padding-right: 3em;
  margin-bottom: 0.5em;
  height: 2.7em;
  margin-right: 0.7em;
  background-color: white;
  display: inline-block;
  width: 10%;
}
.Product-desc{
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  flex:1;
  height: 200px;
  margin-bottom: 30px;
}
.Product-desc h3{
  font-family: Raleway;
  font-size: 1.8em;
  font-weight: lighter;
  color: #0f4156;
  padding-bottom: 20px;;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .App-Main{
    padding: 0;
    margin: 0;
  }
  .Product{
    padding: 0;
    margin: 0;
    height: 35em;
    margin-top:2em;
  }
  .Product-image{
    height: 15em;
    width: auto;
  }
  .Product-thumb img{
    height: 2em;
  }
  .Product-title{
    padding: 0;
    text-align: center;
  }
  .Product-title h1{
    font-size: 1.2em;
    margin: 1em;
  }
  .Product-buy h2{
    font-size: 1.5em;
  }
  p.light-grey{
    font-size: 0.8em;
  }
  p.light-grey-inline{
    font-size: 0.8em;
  }
  .Product-frete{
    padding: 0;
    margin: 1em;
    text-align: center;
  }
  .Product-frete p{
    margin: 0.5em;
  }
  .Product-frete input{
    font-size: 0.8em;
  }
  .cep1{
    border-radius: 5px;
    padding-right: 3em;
    height: 2em;
    width: 35%;
    padding: 0;
  }
  .cep2{
    border-radius: 5px;
    padding-right: 3em;
    height: 2em;
    width: 15%;
    padding: 0;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
  .Product-desc{
    margin:0;
    padding:0;
    width:100%;
    height: 200px;
    margin-top: 1em;
  }
  .Product-desc h3{
    font-weight: 1em;
    padding:1em;
    margin: 1em;
  }
  .Product-desc p{
    font-weight: 0.7em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 575px){
  .Product{
   height:42em;
  }
  .Product-image{
    height: 20em;
    width: auto;
  }
  .Product-title h1{
    font-size: 1.4em;
    text-align: center;
  }
  .Product-buy h2{
    font-size: 1.5em;
  }
  .Product-frete{
    margin-left: 0;
    text-align: center;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
  .Product{
    height:35em;
   }
  .Product-image{
    height: 16em;
    width: auto;
   }
   .Product-title h1{
    font-size: 1.3em;
    text-align: center;
  }
  .Product-frete {
    margin-left: 0;
    text-align: center;
  }
  .Product-frete input{
    font-size: 0.8em;
  }
  .cep1{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 35%;
  }
  .cep2{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 20%;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .Product{
    height: 30em;
  }
  .Product-image{
    height: 22em;
    width: auto;
  }
  .Product-title h1{
    font-size: 1.6em;
  }
  .Product-frete{
    text-align: center;
  }
  .Product-frete input{
    font-size: 0.8em;
  }
  .cep1{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 35%;
  }
  .cep2{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 20%;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
}


/* Section 3.3 - Product Buy More */
.Product-more{
  height: 35em;
  margin: 20px;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.More-box-title h3{
  font-family: Raleway;
  font-size: 1.8em;
  font-weight: lighter;
  color: #0f4156;
  padding-bottom: 20px;
}
.More-box{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.More-box1{
  flex:6;
  height: 100%;
  margin-right: 1em;
  padding: 1em;
}
.More-box1 img{
  width: 80%;
  height: auto;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
}
.More-box2{
  flex:6;
  height: 100%;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
}
.More-box2 img{
  width: 80%;
  height: auto;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
}
.More-box3{
  flex:6;
  height: 40vh;
  border-radius: 5px;
  margin-left: 1em;
  background-color:#43c2dd;
  padding:2em;
  text-align: center;
}
.More-box3 p{
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.More-box-discount{
  background-color: #f1d521;
  border-radius: 5px;
  padding:5px;
}
/* Icon Divs */
.Plus-icon{
  flex:1;
  height: 100hw;
}
.Equal-icon{
  flex:1;
  height: 100hw;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .Product-more{
    height: 50em;
  }
  .Plus-icon{
    width:100%;
    flex:1;
    text-align: right;
  }
  .Equal-icon{
    width:100%;
    flex:1;
    display: none;
  }
  .More-box{
    flex-basis: 21%;
  }
  .More-box-title h3{
    font-weight: 1em;
    padding:1em;
    margin: 1em;
  }
  .More-box1{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    width:100%;
    flex:2;
    background-color: #f8f8f8;
    flex-basis: 50%;
    margin-right: 1.5em;
  }
  .More-box1 img{
    border: 0;
    width: 100%;
  }
  .More-box2{
    padding: 0;
    margin: 0;
    text-align: center;
    width:100%;
    flex:1;
    display: none;
  }
  .More-box3{
    margin: 0;
    height: 35vh;
    padding: 1em;
    text-align: center;
    flex:3;
    margin-top: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .Plus-icon{
    width:100%;
    flex:1;
    text-align: center;
    flex-basis: 12%;
  }
  .Plus-icon img{
    width: 70%;
    height: auto;
  }
  .Equal-icon{
    width:100%;
    flex:1;
    display: inline;
    text-align: center;
    flex-basis: 12%;
  }
  .Equal-icon img{
    width: 70%;
    height: auto;
  }
  .Product-more{
    width:100%;
    margin: 0;
    height: 750px;
  }
  .More-box{
    flex-basis: 21%;
  }
  .More-box-title h3{
    font-weight: 1em;
    padding:1em;
    margin: 1em;
  }
  .More-box1{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    width:100%;
    flex:2;
    background-color: #f8f8f8;
    display: inline;
    flex-basis: 21%;
  }
  .More-box1 img{
    border: 0;
    width: 100%;
  }
  p.bold-blue{
    font-size: 1.2em;
  }
  .More-box2{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    width:100%;
    flex:2;
    background-color: #f8f8f8;
    display: inline;
    flex-basis: 21%;
  }
  .More-box2 img{
    border: 0;
    width: 100%;
    background-color: white;
  }
  .More-box3{
    margin: 0;
    height: 40vh;
    padding: 1em;
    text-align: center;
    flex:3;
    margin-top: 1em;
    flex-basis: 21%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .Product-more{
    height: 35em;
  }
  .More-box1{
    margin: 0;
    padding: 0.5em;
    background-color: #f8f8f8;
  }
  .More-box1 img{
    border: 0;
    width: 100%;
    background-color: white;
  }
  .Plus-icon{
    flex-basis: 8%;
  }
  .Plus-icon img{
    width: 70%;
    height: auto;
  }
  .More-box2{
    margin: 0;
    padding: 0.5em;
    background-color: #f8f8f8;
  }
  .More-box2 img{
    border: 0;
    width: 100%;
    background-color: white;
  }
  .Equal-icon{
    flex-basis: 8%;
  }
  .Equal-icon img{
    width: 70%;
    height: auto;
  }
  .More-box3{
    margin: 0;
    height: 30vh;
    margin-left: 1.5em;
  }
  p.bold-white-tall{
    font-size: 1.2em;
  }
  .More-box-discount{
    padding:0.2em;
  }
}


/* Section 3.4 - Product Related */
.Product-related{
  height: 675px;
  width:100%;
}
.Related-box{
  display: flex;
  height: 400px;
  width:100%;
  flex-wrap: wrap;
  border: 2px;
  align-items: center;
}
.Related-box-title h3{
  font-family: Raleway;
  font-size: 1.8em;
  font-weight: lighter;
  color: #0f4156;
  padding-bottom: 20px;
}
.Related-box1{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding:10px;
}
.Related-box1 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Related-box2{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding:10px;
}
.Related-box2 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Related-box3{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding:10px;
}
.Related-box3 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Related-box4{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}
.Related-box4 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Arrow-icon{
  flex:1;
  padding: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
  .Product-related{
    margin: 0;
  }
  .Related-box-title h3{
    font-weight:1em;
    padding:1em;
    margin:1em;
  }
  .Arrow-icon{
    flex:1;
    padding: 0.2em;
  }
  .Related-box2{
    display: none;
  }
  .Related-box3{
    display: none;
  }
  .Related-box4{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .Related-box4{
    display: none;
  }
}
  