:root {
    --green: #71CE4B;
    --blue: #0f4156;
    --lightgrey: #e5e5e5;
    --grey: #c8c8c8;
    --darkgrey: #a1a1a1;
    --lightblue: #4ec2dd;
  }


/* #######################################*/
/* ######    Header - Navigation    ######*/ 
/* #######################################*/
.App-header {
  position: relative;
  height: 5em;
  background-color: white;
  text-align: center;
  max-width: 1024px;
}
.App-nav {
  height: 5em;
  text-align:right;
  display: flex;
  width: 100%;
  padding-top: 20px;
  max-width: 1024px;
  flex-wrap: wrap;
}
.App-logo {
  flex: 2;
  text-align: left;
  width: 4em;
}
.App-logo img{
  height: 60%;
}
.App-menu{
  display: flex;
  margin: 0;
  padding: 0;
  flex:4;
  height: 5em;
  text-align: center;
}
.App-menu-resp{
  display: none;
}
.App-menu-list{ 
  list-style: none;
  display: inline-block;
  padding: 0;
  height: 100%;
  top: -50%;
}
.App-menu li{
  display: inline-block;
  vertical-align: middle;
}
.App-menu a{ 
  text-transform: initial;
  text-decoration: none;
  color: var(--lightgrey);
  padding: 12px;
  font-family: Raleway;
  font-size: 1.1em;
}
.App-menu a:hover{
  text-transform: initial;
  text-decoration: none;
  color: var(--darkgrey);
  padding: 12px;
  font-family: Raleway;
  font-size: 1.1em;
}
.App-menu a:active{
  text-transform: initial;
  text-decoration: none;
  color: var(--lightblue);
  padding: 12px;
  font-family: Raleway;
  font-size: 1.2em;
  font-weight: bolder;
}
.App-menu-burger{
  display: none;
}
.App-menu-burger div{
  width: 1.3em;
  height: 0.2em;
  background-color: var(--lightblue);
  margin: 0.2em;
}
.App-menu-burguer-button{
  display: none;
  padding: 1em;
  font-family: Raleway;
  font-size: 2em;
  font-weight: bolder;
  color: white;
}
.App-search{
  flex: 5;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3em;
  text-align: left;
  display: flex;
}
.Search-icon{
  cursor: pointer;
  width: 15px;
  order: 1;
  text-align: center;
  margin: 1em;
}
.App-cart{
  flex: 1;
  height: 3em;
  text-align: right;
  align-items: center;
}
.App-cart-count{
  padding-left: 5em;
}
.App-cart-count p{
  background-color: var(--lightblue);
  padding: 0;
  margin: 0;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  width: 18px;
  text-align: center;
  border-radius: 50%;
}
.App-cart img{
  margin-top: -0.5em;
}
.App-cart-icon{
  cursor: pointer;
}
.App-cart-box{
  background-color: var(--lightgrey);
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateX(90vw);
  transition: transform 0.5s ease-in;
  text-align: left;
  margin-top: -1em;
  padding: 0.5em;
  width: 15em;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  z-index: 998;
}
.App-cart-box-active{
  background-color: var(--lightgrey);
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateX(68vw);
  transition: transform 0.5s ease-in;
  text-align: left;
  margin-top: -1em;
  padding: 0.5em;
  width: 15em;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  z-index: 998;
}
.App-cart-box ul{
  background-color: white;
  padding-left: 0em;
  list-style: none;
  border-radius: 0.5em;
}
.App-cart-box li{
  margin: 0;
  padding: 0.5em;
  text-align: left;
}
.App-cart-box a{
  margin: 0;
  text-decoration: none;
  color: var(--blue);
}
.App-cart-box h2{
  text-align: center;
  margin-top: -0em;
}
.App-cart-box, .App-cart-box-active ul{
  background-color: white;
  padding-left: 0em;
  list-style: none;
  border-radius: 0.5em;
}
.App-cart-box, .App-cart-box-active li{
  margin: 0;
  padding: 0.5em;
  text-align: left;
}
.App-cart-box, .App-cart-box-active a{
  margin: 0;
  text-decoration: none;
  color: var(--blue);
}
.App-cart-box, .App-cart-box-active h2{
  text-align: center;
  margin-top: -0em;
}


@media only screen and (max-width: 479px){
  .App-cart-count{
    padding-left: 3em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  .App-header{
    height: 8em;
    text-align: left;
  }
  .App-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 1em;
    text-align: left;
  }
  .App-logo{ 
    padding: 0;
    order:2;
    width:10em;
  }
  .App-logo{
    height: 70%;
  }
  .App-menu{
    position: absolute;
    left: -80vw;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    order: 3;
    z-index: 999;
  }
  .App-menu-list ul{
    padding: 0;
    margin: 0;
    display: none;
  }
  .App-menu-list li{
    padding: 0;
    margin: 0;
    display: none;
  }
  .App-menu-list-active {
    background-color: var(--lightblue);
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 100vh;
    margin: 0;
    margin-top: -1em;
    top: 0;
    transform: translateX(80vw);
    transition: transform 0.5s ease-in;
    padding: 0;
  }
  .App-menu-list-active ul{
    margin: 0;
    padding: 0;
    top: 0;
  }
  .App-menu-list-active li{
    margin: 0;
    padding: 2em;
  }
  .App-menu-list-active a, .App-menu-list-active button{
    font-size: 2em;
    font-family: Raleway;
    font-weight: bolder;
    color: white;
  }
  .App-menu-list-active a:hover, .App-menu-list-active button:hover{
    font-size: 2em;
    font-family: Raleway;
    font-weight: bolder;
    color: var(--blue);
  }
  .App-menu-burger{
    display: block;
    cursor: pointer;
    order: 1;   
  }
  .App-menu-burguer-button{
    display: block;
    cursor: pointer;
  }
  .App-cart-count{
    padding-left: 4.5em;
  }
  .App-cart{
    order:4;
    width: 5em;
  }
  .App-cart-box{
    transform: translateX(90vw);
  }
  .App-cart-box-active{
    transform: translateX(0vw);
    position: fixed;
    width: 80%;
    margin-left: 0;
  }
  .App-search{
    order: 5;
    flex-basis: 99%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .App-search{
    order:4;
    flex-basis: 20%;
  }
  .App-cart{
    order: 5;
  }
  .App-logo{
    width: 10em;
  }
  .App-logo img{
    height: 50%;
  }
  .App-menu-burger{
    display: block;
    cursor: pointer;
    order: 1;   
  }  
  .App-menu-burguer-button{
    display: block;
    cursor: pointer;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
  .App-header{
    height: 5em;
  }
  .App-logo img{
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .App-nav{
    width:100%;
  }
  .App-cart-box-active{
    transform: translateX(55vw);
    position: fixed;
    margin-left: 0;
  }
}

  