/* #######################################*/
/* #############   Footer   ##############*/ 
/* #######################################*/
.App-footer{
  display: flex;
  /*margin-left: -50vw;
  left:50%;*/
  height: 80px;
}
.App-footer-box {
  max-width: 1024px;
  width: 100%;
  background-color: #4ec2dd;
  position: relative;
}

.App-logo-footer {
  flex: 1;
  align-items: center;
  text-align: right;
  padding-right: 20px;
  padding-top: 12px;
}
.App-footer-left{
  background-color: #0f4156;
  width: 10vw;
  height: 100%;
}
.App-logo-footer img{
  height: 100%;
}
.App-copy{
  flex:9;
  text-align: center;
  padding-left: 20px;
  padding-top:20px;
}


