:root {
  --green: #71CE4B;
  --blue: #0f4156;
  --lightgrey: #e5e5e5;
  --grey: #c8c8c8;
  --darkgrey: #a1a1a1;
  --lightblue: #4ec2dd;
}

body{
  font-family: Raleway;
  overflow-x: hidden;
}
h1{
  font-family: Raleway;
  font-size: 2.1em;
  font-weight: lighter;
  color: var(--darkgrey);
}
h2{
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: bolder;
  color: #43c2dd;
}

h4{
  font-family: Raleway;
  font-size: 1em;
  font-weight: lighter;
  color: #a1a1a1;
}
p.light-grey{
  font-family: Raleway;
  font-size: 1em;
  font-weight: lighter;
  color: #a1a1a1;
}
p.light-grey-inline{
  font-family: Raleway;
  font-size: 1em;
  font-weight: lighter;
  color: #a1a1a1;
  display: inline;
}
p.light-grey-left-height{
  font-family: Raleway;
  font-size: 1em;
  font-weight: lighter;
  color: #a1a1a1;
  text-align: left;
  line-height: 1.7em;
}
p.light-grey-left{
  font-family: Raleway;
  font-size: 1em;
  font-weight: lighter;
  color: #a1a1a1;
  text-align: left;
}
p.light-grey-left-small-height{
  font-family: Raleway;
  font-size: 0.7em;
  font-weight: lighter;
  color: #a1a1a1;
  text-align: left;
  line-height: 0.8em;
}
/*
p.bold-white{
  font-family: Raleway;
  font-size: 1em;
  font-weight: bolder;
  color:white;
}
*/
p.bold-white{
  font-family: Raleway;
  font-size: 0.9em;
  font-weight: bolder;
  color:white;
  text-align: left;
  padding: 0.5em;
}
p.bold-white-tall{
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: bolder;
  color:white;
  text-align: left;
}
p.bold-dark-blue{
  font-family: Raleway;
  font-size: 1em;
  font-weight: bolder;
  color:#0f4156;
  text-align: center;
}
p.bold-blue{
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: bolder;
  color:#4ec2dd;
  text-align: left;
}
p.footer{
  font-family: Raleway;
  font-size: 0.8em;
  font-weight:lighter;
  color:white;
  text-align: left;
}


.App {
  text-align: center;
}
.App-container {
  height: 100vh;
  width: 80vw;
  display: inline-block;
  position: relative;
  max-width: 1024px;
}
@media only screen and(max-width:768px){
  .App{
    padding:0;
    margin:0;
    width:100vw;
    overflow-x: hidden;
  }
}


/* #######################################*/
/* ######    Header - Navigation    ######*/ 
/* #######################################*/
.App-header {
  position: relative;
  height: 5em;
  background-color: white;
  text-align: center;
  max-width: 1024px;
}
.App-nav {
  height: 5em;
  text-align:right;
  display: flex;
  width: 100%;
  padding-top: 20px;
  max-width: 1024px;
  flex-wrap: wrap;
}
.App-logo {
  flex: 2;
  text-align: left;
  width: 4em;
}
.App-logo img{
  height: 60%;
}
.App-menu{
  display: flex;
  margin: 0;
  padding: 0;
  flex:4;
  height: 5em;
  text-align: center;
}
.App-menu-resp{
  display: none;
}
.App-menu-list{ 
  list-style: none;
  display: inline-block;
  padding: 0;
  height: 100%;
  top: -50%;
}
.App-menu li{
  display: inline-block;
  vertical-align: middle;
}
.App-menu a{ 
  text-transform: initial;
  text-decoration: none;
  color: var(--lightgrey);
  padding: 12px;
  font-family: Raleway;
  font-size: 1.1em;
}
.App-menu a:hover{
  text-transform: initial;
  text-decoration: none;
  color: var(--darkgrey);
  padding: 12px;
  font-family: Raleway;
  font-size: 1.1em;
}
.App-menu a:active{
  text-transform: initial;
  text-decoration: none;
  color: var(--lightblue);
  padding: 12px;
  font-family: Raleway;
  font-size: 1.2em;
  font-weight: bolder;
}
.App-menu-burger{
  display: none;
}
.App-menu-burger div{
  width: 1.3em;
  height: 0.2em;
  background-color: var(--lightblue);
  margin: 0.2em;
}
.App-menu-burguer-button{
  display: none;
  padding: 1em;
  font-family: Raleway;
  font-size: 2em;
  font-weight: bolder;
  color: white;
}
.App-search{
  flex: 5;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 3em;
  text-align: left;
  display: flex;
}
.Search-icon{
  cursor: pointer;
  width: 15px;
  order: 1;
  text-align: center;
  margin: 1em;
}
.App-cart{
  flex: 1;
  height: 3em;
  text-align: right;
  align-items: center;
}
.App-cart-count{
  padding-left: 5em;
}
.App-cart-count p{
  background-color: var(--lightblue);
  padding: 0;
  margin: 0;
  color: white;
  font-family: Raleway;
  font-weight: bolder;
  width: 18px;
  text-align: center;
  border-radius: 50%;
}
.App-cart img{
  margin-top: -0.5em;
}
.App-cart-icon{
  cursor: pointer;
}
.App-cart-box{
  background-color: var(--lightgrey);
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateX(90vw);
  transition: transform 0.5s ease-in;
  text-align: left;
  margin-top: -1em;
  padding: 0.5em;
  width: 15em;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  z-index: 998;
}
.App-cart-box-active{
  background-color: var(--lightgrey);
  position: fixed;
  display: flex;
  flex-direction: column;
  transform: translateX(68vw);
  transition: transform 0.5s ease-in;
  text-align: left;
  margin-top: -1em;
  padding: 0.5em;
  width: 15em;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  z-index: 998;
}
.App-cart-box ul{
  background-color: white;
  padding-left: 0em;
  list-style: none;
  border-radius: 0.5em;
}
.App-cart-box li{
  margin: 0;
  padding: 0.5em;
  text-align: left;
}
.App-cart-box a{
  margin: 0;
  text-decoration: none;
  color: var(--blue);
}
.App-cart-box h2{
  text-align: center;
  margin-top: -0em;
}
.App-cart-box, .App-cart-box-active ul{
  background-color: white;
  padding-left: 0em;
  list-style: none;
  border-radius: 0.5em;
}
.App-cart-box, .App-cart-box-active li{
  margin: 0;
  padding: 0.5em;
  text-align: left;
}
.App-cart-box, .App-cart-box-active a{
  margin: 0;
  text-decoration: none;
  color: var(--blue);
}
.App-cart-box, .App-cart-box-active h2{
  text-align: center;
  margin-top: -0em;
}


@media only screen and (max-width: 479px){
  .App-cart-count{
    padding-left: 3em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  .App-header{
    height: 8em;
    text-align: left;
  }
  .App-nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 1em;
    text-align: left;
  }
  .App-logo{ 
    padding: 0;
    order:2;
    width:10em;
  }
  .App-logo{
    height: 70%;
  }
  .App-menu{
    position: absolute;
    left: -80vw;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    order: 3;
    z-index: 999;
  }
  .App-menu-list ul{
    padding: 0;
    margin: 0;
    display: none;
  }
  .App-menu-list li{
    padding: 0;
    margin: 0;
    display: none;
  }
  .App-menu-list-active {
    background-color: var(--lightblue);
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 100vh;
    margin: 0;
    margin-top: -1em;
    top: 0;
    transform: translateX(80vw);
    transition: transform 0.5s ease-in;
    padding: 0;
  }
  .App-menu-list-active ul{
    margin: 0;
    padding: 0;
    top: 0;
  }
  .App-menu-list-active li{
    margin: 0;
    padding: 2em;
  }
  .App-menu-list-active a, .App-menu-list-active button{
    font-size: 2em;
    font-family: Raleway;
    font-weight: bolder;
    color: white;
  }
  .App-menu-list-active a:hover, .App-menu-list-active button:hover{
    font-size: 2em;
    font-family: Raleway;
    font-weight: bolder;
    color: var(--blue);
  }
  .App-menu-burger{
    display: block;
    cursor: pointer;
    order: 1;   
  }
  .App-menu-burguer-button{
    display: block;
    cursor: pointer;
  }
  .App-cart-count{
    padding-left: 4.5em;
  }
  .App-cart{
    order:4;
    width: 5em;
  }
  .App-cart-box{
    transform: translateX(90vw);
  }
  .App-cart-box-active{
    transform: translateX(0vw);
    position: fixed;
    width: 80%;
    margin-left: 0;
  }
  .App-search{
    order: 5;
    flex-basis: 99%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .App-search{
    order:4;
    flex-basis: 20%;
  }
  .App-cart{
    order: 5;
  }
  .App-logo{
    width: 10em;
  }
  .App-logo img{
    height: 50%;
  }
  .App-menu-burger{
    display: block;
    cursor: pointer;
    order: 1;   
  }  
  .App-menu-burguer-button{
    display: block;
    cursor: pointer;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
  .App-header{
    height: 5em;
  }
  .App-logo img{
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .App-nav{
    width:100%;
  }
  .App-cart-box-active{
    transform: translateX(55vw);
    position: fixed;
    margin-left: 0;
  }
}

/* #######################################*/
/* ###########    User Flow    ###########*/ 
/* #######################################*/
.App-flow{
  padding: 0;
  height: 70px;
  align-items: center;
  text-align: left;
}
.App-flow ul{
  list-style: none;
  margin:0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.App-flow li{
  display: inline-block;
  vertical-align: middle;
}
.App-flow a{
  display: inline-block;
  text-decoration: none;
  color: #c8c8c8;
  font-family: Raleway;
  font-weight: bolder;
  font-size: 0.9em;
  padding: 12px;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
  .App-flow{
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px){
  .App-flow{
    display: none;
  }
}


/* #######################################*/
/* #########    Main Content    ##########*/ 
/* #######################################*/
.App-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Section 3.1 and 3.2 - Product Image - Buy - Description */
.Product{
  display:flex;
  height:30em;
  width:100%;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap:wrap;
}
.Product-image{
  flex:4;
  order:2;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
  height: 30em;
}
.Product-image img{
  height: 100%;
  width:auto;
  border: 0px;
}
.Product-thumb{
  flex:1;
  order:1;
  text-align: center;
}
.Product-thumb img{
  width: 70%;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
}
.Product-info{
  flex:5;
  order:3;
  flex-direction: column;
  display: flex;
}
.Product-title{
  flex:1;
  text-align: left;
  padding-left: 20px;
}
.Product-title h1{
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: lighter;
  color: var(--darkgrey);
}
.Product-buy{
  flex:3;
  border: 2px;
  background-color: #f8f8f8;
  text-align: left;
  padding-left: 20px;
}
.Product-buy h2{
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: bolder;
  color: #43c2dd;
  text-align: left;
  margin:0;
  margin-left: 1em;
  margin-top: -1em;
}
.Product-frete{
  flex:2;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  background-color:#43c2dd;
  text-align: right;
  padding:1em;
}
.Product-frete p{
  margin:0;
}
.Product-frete input{
  height: 90%;
  width: 90%;
  border: 0;
  font-family: Raleway;
  font-weight: lighter;
  font-size: 1.1em;
  color: var(--lightgrey);
  outline: none;
}
.cep1{
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  padding-right: 3em;
  margin-bottom: 0.5em;
  height: 2.7em;
  margin-right: 0.7em;
  background-color: white;
  display: inline-block;
  width: 30%;
}
.cep2{
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5px;
  padding-right: 3em;
  margin-bottom: 0.5em;
  height: 2.7em;
  margin-right: 0.7em;
  background-color: white;
  display: inline-block;
  width: 10%;
}
.Product-desc{
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  flex:1;
  height: 200px;
  margin-bottom: 30px;
}
.Product-desc h3{
  font-family: Raleway;
  font-size: 1.8em;
  font-weight: lighter;
  color: #0f4156;
  padding-bottom: 20px;;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .App-Main{
    padding: 0;
    margin: 0;
  }
  .Product{
    padding: 0;
    margin: 0;
    height: 35em;
    margin-top:2em;
  }
  .Product-image{
    height: 15em;
    width: auto;
  }
  .Product-thumb img{
    height: 2em;
  }
  .Product-title{
    padding: 0;
    text-align: center;
  }
  .Product-title h1{
    font-size: 1.2em;
    margin: 1em;
  }
  .Product-buy h2{
    font-size: 1.5em;
  }
  p.light-grey{
    font-size: 0.8em;
  }
  p.light-grey-inline{
    font-size: 0.8em;
  }
  .Product-frete{
    padding: 0;
    margin: 1em;
    text-align: center;
  }
  .Product-frete p{
    margin: 0.5em;
  }
  .Product-frete input{
    font-size: 0.8em;
  }
  .cep1{
    border-radius: 5px;
    padding-right: 3em;
    height: 2em;
    width: 35%;
    padding: 0;
  }
  .cep2{
    border-radius: 5px;
    padding-right: 3em;
    height: 2em;
    width: 15%;
    padding: 0;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
  .Product-desc{
    margin:0;
    padding:0;
    width:100%;
    height: 200px;
    margin-top: 1em;
  }
  .Product-desc h3{
    font-weight: 1em;
    padding:1em;
    margin: 1em;
  }
  .Product-desc p{
    font-weight: 0.7em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 575px){
  .Product{
   height:42em;
  }
  .Product-image{
    height: 20em;
    width: auto;
  }
  .Product-title h1{
    font-size: 1.4em;
    text-align: center;
  }
  .Product-buy h2{
    font-size: 1.5em;
  }
  .Product-frete{
    margin-left: 0;
    text-align: center;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
  .Product{
    height:35em;
   }
  .Product-image{
    height: 16em;
    width: auto;
   }
   .Product-title h1{
    font-size: 1.3em;
    text-align: center;
  }
  .Product-frete {
    margin-left: 0;
    text-align: center;
  }
  .Product-frete input{
    font-size: 0.8em;
  }
  .cep1{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 35%;
  }
  .cep2{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 20%;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .Product{
    height: 30em;
  }
  .Product-image{
    height: 22em;
    width: auto;
  }
  .Product-title h1{
    font-size: 1.6em;
  }
  .Product-frete{
    text-align: center;
  }
  .Product-frete input{
    font-size: 0.8em;
  }
  .cep1{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 35%;
  }
  .cep2{
    border-radius: 5px;
    padding-right: 1em;
    height: 2em;
    width: 20%;
  }
  p.bold-white{
    font-weight: 0.7em;
    text-align: center;
    padding: 0.5em;
  }
}


/* Section 3.3 - Product Buy More */
.Product-more{
  height: 35em;
  margin: 20px;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.More-box-title h3{
  font-family: Raleway;
  font-size: 1.8em;
  font-weight: lighter;
  color: #0f4156;
  padding-bottom: 20px;
}
.More-box{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.More-box1{
  flex:6;
  height: 100%;
  margin-right: 1em;
  padding: 1em;
}
.More-box1 img{
  width: 80%;
  height: auto;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
}
.More-box2{
  flex:6;
  height: 100%;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
}
.More-box2 img{
  width: 80%;
  height: auto;
  border: 1px;
  border-color: #c8c8c8;
  border-style: solid;
}
.More-box3{
  flex:6;
  height: 40vh;
  border-radius: 5px;
  margin-left: 1em;
  background-color:#43c2dd;
  padding:2em;
  text-align: center;
}
.More-box3 p{
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.More-box-discount{
  background-color: #f1d521;
  border-radius: 5px;
  padding:5px;
}
/* Icon Divs */
.Plus-icon{
  flex:1;
  height: 100hw;
}
.Equal-icon{
  flex:1;
  height: 100hw;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .Product-more{
    height: 50em;
  }
  .Plus-icon{
    width:100%;
    flex:1;
    text-align: right;
  }
  .Equal-icon{
    width:100%;
    flex:1;
    display: none;
  }
  .More-box{
    flex-basis: 21%;
  }
  .More-box-title h3{
    font-weight: 1em;
    padding:1em;
    margin: 1em;
  }
  .More-box1{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    width:100%;
    flex:2;
    background-color: #f8f8f8;
    flex-basis: 50%;
    margin-right: 1.5em;
  }
  .More-box1 img{
    border: 0;
    width: 100%;
  }
  .More-box2{
    padding: 0;
    margin: 0;
    text-align: center;
    width:100%;
    flex:1;
    display: none;
  }
  .More-box3{
    margin: 0;
    height: 35vh;
    padding: 1em;
    text-align: center;
    flex:3;
    margin-top: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .Plus-icon{
    width:100%;
    flex:1;
    text-align: center;
    flex-basis: 12%;
  }
  .Plus-icon img{
    width: 70%;
    height: auto;
  }
  .Equal-icon{
    width:100%;
    flex:1;
    display: inline;
    text-align: center;
    flex-basis: 12%;
  }
  .Equal-icon img{
    width: 70%;
    height: auto;
  }
  .Product-more{
    width:100%;
    margin: 0;
    height: 750px;
  }
  .More-box{
    flex-basis: 21%;
  }
  .More-box-title h3{
    font-weight: 1em;
    padding:1em;
    margin: 1em;
  }
  .More-box1{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    width:100%;
    flex:2;
    background-color: #f8f8f8;
    display: inline;
    flex-basis: 21%;
  }
  .More-box1 img{
    border: 0;
    width: 100%;
  }
  p.bold-blue{
    font-size: 1.2em;
  }
  .More-box2{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    width:100%;
    flex:2;
    background-color: #f8f8f8;
    display: inline;
    flex-basis: 21%;
  }
  .More-box2 img{
    border: 0;
    width: 100%;
    background-color: white;
  }
  .More-box3{
    margin: 0;
    height: 40vh;
    padding: 1em;
    text-align: center;
    flex:3;
    margin-top: 1em;
    flex-basis: 21%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .Product-more{
    height: 35em;
  }
  .More-box1{
    margin: 0;
    padding: 0.5em;
    background-color: #f8f8f8;
  }
  .More-box1 img{
    border: 0;
    width: 100%;
    background-color: white;
  }
  .Plus-icon{
    flex-basis: 8%;
  }
  .Plus-icon img{
    width: 70%;
    height: auto;
  }
  .More-box2{
    margin: 0;
    padding: 0.5em;
    background-color: #f8f8f8;
  }
  .More-box2 img{
    border: 0;
    width: 100%;
    background-color: white;
  }
  .Equal-icon{
    flex-basis: 8%;
  }
  .Equal-icon img{
    width: 70%;
    height: auto;
  }
  .More-box3{
    margin: 0;
    height: 30vh;
    margin-left: 1.5em;
  }
  p.bold-white-tall{
    font-size: 1.2em;
  }
  .More-box-discount{
    padding:0.2em;
  }
}


/* Section 3.4 - Product Related */
.Product-related{
  height: 675px;
  width:100%;
}
.Related-box{
  display: flex;
  height: 400px;
  width:100%;
  flex-wrap: wrap;
  border: 2px;
  align-items: center;
}
.Related-box-title h3{
  font-family: Raleway;
  font-size: 1.8em;
  font-weight: lighter;
  color: #0f4156;
  padding-bottom: 20px;
}
.Related-box1{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding:10px;
}
.Related-box1 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Related-box2{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding:10px;
}
.Related-box2 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Related-box3{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding:10px;
}
.Related-box3 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Related-box4{
  flex:4;
  background-color: #f8f8f8;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}
.Related-box4 img{
  width: 100%;
  height: auto;
  background-color: white;
}
.Arrow-icon{
  flex:1;
  padding: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
  .Product-related{
    margin: 0;
  }
  .Related-box-title h3{
    font-weight:1em;
    padding:1em;
    margin:1em;
  }
  .Arrow-icon{
    flex:1;
    padding: 0.2em;
  }
  .Related-box2{
    display: none;
  }
  .Related-box3{
    display: none;
  }
  .Related-box4{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .Related-box4{
    display: none;
  }
}


/* #######################################*/
/* #############   Footer   ##############*/ 
/* #######################################*/
.App-footer{
  display: flex;
  /*margin-left: -50vw;
  left:50%;*/
  height: 80px;
}
.App-footer-box {
  max-width: 1024px;
  width: 100%;
  background-color: #4ec2dd;
  position: relative;
}

.App-logo-footer {
  flex: 1;
  align-items: center;
  text-align: right;
  padding-right: 20px;
  padding-top: 12px;
}
.App-footer-left{
  background-color: #0f4156;
  width: 10vw;
  height: 100%;
}
.App-logo-footer img{
  height: 100%;
}
.App-copy{
  flex:9;
  text-align: center;
  padding-left: 20px;
  padding-top:20px;
}


