:root {
    --green: #71CE4B;
    --blue: #0f4156;
    --lightgrey: #e5e5e5;
    --grey: #c8c8c8;
    --darkgrey: #a1a1a1;
    --lightblue: #4ec2dd;
  }
  
  body{
    font-family: Raleway;
    overflow-x: hidden;
  }
  h1{
    font-family: Raleway;
    font-size: 2.1em;
    font-weight: lighter;
    color: var(--darkgrey);
  }
  h2{
    font-family: Raleway;
    font-size: 2.2em;
    font-weight: bolder;
    color: #43c2dd;
  }
  
  h4{
    font-family: Raleway;
    font-size: 1em;
    font-weight: lighter;
    color: #a1a1a1;
  }
  p.light-grey{
    font-family: Raleway;
    font-size: 1em;
    font-weight: lighter;
    color: #a1a1a1;
  }
  p.light-grey-inline{
    font-family: Raleway;
    font-size: 1em;
    font-weight: lighter;
    color: #a1a1a1;
    display: inline;
  }
  p.light-grey-left-height{
    font-family: Raleway;
    font-size: 1em;
    font-weight: lighter;
    color: #a1a1a1;
    text-align: left;
    line-height: 1.7em;
  }
  p.light-grey-left{
    font-family: Raleway;
    font-size: 1em;
    font-weight: lighter;
    color: #a1a1a1;
    text-align: left;
  }
  p.light-grey-left-small-height{
    font-family: Raleway;
    font-size: 0.7em;
    font-weight: lighter;
    color: #a1a1a1;
    text-align: left;
    line-height: 0.8em;
  }
  /*
  p.bold-white{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bolder;
    color:white;
  }
  */
  p.bold-white{
    font-family: Raleway;
    font-size: 0.9em;
    font-weight: bolder;
    color:white;
    text-align: left;
    padding: 0.5em;
  }
  p.bold-white-tall{
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: bolder;
    color:white;
    text-align: left;
  }
  p.bold-dark-blue{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bolder;
    color:#0f4156;
    text-align: center;
  }
  p.bold-blue{
    font-family: Raleway;
    font-size: 1.5em;
    font-weight: bolder;
    color:#4ec2dd;
    text-align: left;
  }
  p.footer{
    font-family: Raleway;
    font-size: 0.8em;
    font-weight:lighter;
    color:white;
    text-align: left;
  }
  
  
  .App {
    text-align: center;
  }
  .App-container {
    height: 100vh;
    width: 80vw;
    display: inline-block;
    position: relative;
    max-width: 1024px;
  }
  @media only screen and(max-width:768px){
    .App{
      padding:0;
      margin:0;
      width:100vw;
      overflow-x: hidden;
    }
  }