:root {
    --green: #71CE4B;
    --blue: #0f4156;
    --lightgrey: #e5e5e5;
    --grey: #c8c8c8;
    --darkgrey: #a1a1a1;
  }

.btn {
    font-family: Raleway;
    transition: transform 0.2s ease;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    transform: translateY(-3px);
}

/* Button Styles */

.btn--primary{
    background-color: var(--green);
    color: white;
    margin:1em;
}

.btn--secondary{
    background-color: var(--blue);
    color: white;
    border: none;
    box-shadow: 0px 0px 8px #ccc;
}

/* Button Sizes */

.btn--small {
    font-weight: bolder;
    font-size: 1em;
    padding: 0.5em;
}

.btn--medium {
    font-weight: bolder;
    font-size: 1.2em;
    padding: 0.5em;
}
.btn--medium--modal{
    font-weight: bolder;
    font-size: 1.1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.btn--large {
    font-weight: bolder;
    font-size: 1.8em;
    padding: 0.5em;
    margin: 0em;
    margin-top: 0.7em;
    margin-bottom: 1em;
}
@media only screen and (min-width: 320px) and (max-width: 1024px){
    .btn--medium {
        font-size: 1em;
        padding: 1em;
    }
    .btn--small {
        font-size: 0.8em;
        padding: 1em;
        margin: 0.5em;
    }
    .btn--large {
        font-size: 1em;
        padding: 0.5em;
        margin: 1em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .btn--large {
        font-size: 1.2em;
        padding: 0.3em;
        margin: 0.5em;
    }
}